<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>PasswordManager</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/uikit/dist/css/uikit.min.css" />
        <script src="../static/uikit/dist/js/uikit.min.js"></script>
        <script src="../static/uikit/dist/js/uikit-icons.min.js"></script>
    </head>

    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>